{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/image/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                上传图片
            </a>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    图片列表
                </h3>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>图片</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.title }}</td>
                        <td>
                            <img src="/media/{{ obj.img }}" alt="{{ obj.title }}" style="max-width: 100px; max-height: 100px;">
                        </td>
                        <td>{{ obj.create_time|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a class="btn btn-danger btn-xs" href="/image/delete/?nid={{ obj.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- 分页列表 -->
        <ul class="pagination" style="float: right;">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}

